/* ----------topBanner---------- */
.topBanner {
    background: #000;
    padding: 15px 0;
    transition: 0.5s;
}

.topBanner.on {
    height: 0;
    padding: 0 0;
    overflow: hidden;
}

.topBanner .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.topBanner .inner p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.topBanner .inner i {
    color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
}

/* ----------header---------- */
.header {
    font-family: 'Libre Baskerville', serif;
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    line-height: 70px;
    color: #000;
    z-index: 999;
}

.header:hover {
    background: rgba(255, 255, 255, 0.9);
    /* transition: 0.5s; */
}

.header.on {
    background: rgba(255, 255, 255, 0.9);
    top: 0;
}

.header .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .gnb>ul {
    display: flex;
    gap: 60px;
}

.header .gnb>ul::before {
    content: "";
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    height: 0;
    transition: 0.5s;
}

.header .gnb>ul:hover::before {
    height: 200px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    font-size: 20px;
    font-weight: 500;
}

.header .gnb>ul>li .smenu {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 50px;
    text-align: center;
    width: 150px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.header .gnb>ul:hover>li .smenu {
    height: 200px;
}

.header .right {
    font-size: 30px;
}


/* ----------main---------- */

/* ----------mainVisual---------- */
.mainSlide {}

.mainSlide img {
    width: 100%;
}

.mainSlide figure {
    position: relative;
}

.mainSlide .textbox {
    position: absolute;
    top: 50%;
    left: 15%;
    /* color: #000; */
    transform: translate(0, -50%);
}

.mainSlide .textbox h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.mainSlide .textbox span {
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.mainSlide .textbox p {
    font-size: 20px;
    font-weight: 500;
}

.mainSlide .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainSlide .slick-dots li {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 3px;
    background: none;
    opacity: 1;
}

.mainSlide .slick-dots>li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    background: #444;
    border-radius: 50%;
}

.mainSlide .slick-dots>li.slick-active {
    border: 2px solid #444;
    border-radius: 50%;
}

.mainSlide .slick-dots>li button {
    display: none;
}


/* ----------mainProduct---------- */
.mainProduct {
    padding: 100px 0;
}

.mainProduct .main_text {
    text-align: center;
}

.mainProduct .main_text span {
    display: block;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.mainProduct .main_text h2 {
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 40px 0;
}

.mainProduct .main_text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin: 0 0 50px 0;
}

.mainProduct .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.inner {
    text-align: center;
}

.pro_gnb {
    font-family: 'Libre Baskerville', serif;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 0 0 30px 0;

    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    color: rgb(0, 58, 0);
}

.pro_gnb>li {
    background: none;
}

.pro_gnb>li.on {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 128, 0, 0.5) 50%);
    transition: 0.5s;
}

.tab {
    overflow: hidden;
    text-align: center;
}

.tab .pro_sd.on {
    visibility: visible;
    height: auto;
}

.tab .pro_sd {
    margin: 0 0 0 -30px;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.pro_sd figure {
    margin: 0 0 0 30px;
}

.pro_sd figure .img_box {
    margin: 0 0 20px 0;
}

.pro_sd figure .img_box img {
    width: 100%;
}

.pro_sd figure p {
    font-size: 20px;
    line-height: 30px;
    word-break: keep-all;
    margin: 0 0 20px 0;
}

.pro_sd figure span {
    display: block;
    font-size: 15px;
    color: #999999;
    text-decoration: line-through;
}

.pro_sd figure strong {
    display: block;
    font-size: 18px;
    line-height: 30px;
    color: #000;
}

.pro_sd figure .img_box {
    opacity: 0;
    transform: translate(0, 100px);
    transition: 0.5s 0.5s;
}

.pro_sd.on figure .img_box {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 0.5s;
}

.pro_sd figure p {
    opacity: 0;
    transform: translate(0, 100px);
    transition: 0.5s 0.8s;
}

.pro_sd.on figure p {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 0.8s;
}

.pro_sd figure span {
    opacity: 0;
    transform: translate(0, 100px);
    transition: 0.5s 1s;
}

.pro_sd.on figure span {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 1s;
}

.pro_sd figure strong {
    opacity: 0;
    transform: translate(0, 100px);
    transition: 0.5s 1s;
}

.pro_sd.on figure strong {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 1s;
}

.mainProduct .arrows a {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;

    font-size: 0;
}

.mainProduct .arrows .prev {
    margin: 0 0 0 -600px;
}

.mainProduct .arrows .next {
    margin: 0 0 0 600px;
}

/* ----------mainBanner---------- */

.mainBanner {
    position: relative;
    background: url(../img/mainbanner.jpg)no-repeat fixed center center/cover;
    height: 500px;
}

.mainBanner .inner {
    position: absolute;
    padding: 100px 0;
    color: #fff;
    width: 1200px;
    text-align: left;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.mainBanner h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin: 0 0 30px 0;
    text-shadow: 0 3px 4px #000;
}

.mainBanner p {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 30px 0;
    text-shadow: 0 2px 3px #000;
}

.mainBanner i {
    background: #333;
    padding: 10px;
    border-radius: 50%;
}

.mainBanner span {
    vertical-align: 2px;
    font-size: 20px;
    text-shadow: 0 2px 3px #000;

    margin: 0 10px 0 0;
}

/* ----------maintextsd---------- */
.maintextsd {
    margin: 0 0 10px 0;
}

.maintextsd span {
    padding: 20px 0;
    font-size: 100px;
    font-weight: 900;
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px -1px #000, -1px 1px #000, 1px -1px #000;
}

.maintextsd strong {
    padding: 20px 0;
    font-size: 100px;
    font-weight: 900;
    color: #333;
}

/* ----------mainVideo---------- */
.mainVideo {
    background: rgb(245, 245, 245);
}

.mainVideo .inner {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.mainVideo .video_area {
    width: 50%;
}

.mainVideo .video_area iframe {
    width: 100%;
    height: 600px;
    border: none;
    vertical-align: middle;
}

.mainVideo .title {
    margin: auto;
    text-align: center;
}

.mainVideo .title span {
    display: block;
    font-size: 20px;
    line-height: 40px;
}

.mainVideo .title h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}

.mainVideo .title h2::after {
    content: "";
    margin: 30px auto;
    display: block;
    background: #444;
    width: 30px;
    height: 1px;
}

.mainVideo .title p {
    font-size: 16px;
    line-height: 30px;
}

/* ----------mainReview---------- */
.mainReview {
    text-align: center;
    padding: 100px 0;
}

.mainReview h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    letter-spacing: 10px;
    margin: 0 0 30px 0;
}

.mainReview .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.mainReview figure {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.mainReview .textbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;

    opacity: 0;
    transition: 0.5s;
}

.inner figure:hover .textbox {
    opacity: 1;
}

.mainReview p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    line-height: 25px;
    width: 80%;
}

.mainReview a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px 5px;
}

.mainReview a:hover {
    background: #fff;
    color: #444;
}

.mainReview .inner figure img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* ----------footer---------- */

.footer {
    background: #444;
    color: #fff;
}

.footer .inner {
    width: 1200px;
    margin: 0 auto;
}

.footer .top {
    line-height: 80px;
    border-bottom: 1px solid rgba(225, 225, 225, 0.5);
}

.footer .top .inner {
    display: flex;
    justify-content: space-between;
}

.footer .top .inner img {
    width: 100px;
}

.footer .top ul li {
    display: inline-block;
}

.footer .top ul li~li::before {
    content: "";
    margin: 0 20px;
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #fff;
}

.footer .bottom {
    padding: 30px 0;
}

.footer .bottom .con {
    display: flex;
    justify-content: space-between;
}

.footer h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 60px;
}

.footer .info {
    display: flex;
    gap: 20px;
}

.footer .bottom {
    font-size: 15px;
    line-height: 25px;
}

.footer .bottom .inner {
    text-align: left;
}

.footer span {
    display: inline-block;
    margin: 0 0 0 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 2px 5px;
}

.footer strong {
    display: block;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 10px 0;
}



/* * {
    outline: 1px solid tomato;
} */