/* ----------topBanner---------- */
.topBanner {
    background: #000;
    padding: 15px 0;
    transition: 0.5s;
}

.topBanner.on {
    height: 0;
    padding: 0 0;
    overflow: hidden;
}

.topBanner .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.topBanner .inner p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.topBanner .inner i {
    color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
}

/* ----------header---------- */
.header {
    font-family: 'Libre Baskerville', serif;
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    line-height: 70px;
    color: #000;
    z-index: 999;
}

.header:hover {
    background: rgba(255, 255, 255, 0.9);
    /* transition: 0.5s; */
}

.header.on {
    background: rgba(255, 255, 255, 0.9);
    top: 0;
}

.header .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .gnb>ul {
    display: flex;
    gap: 60px;
}

.header .gnb>ul::before {
    content: "";
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    height: 0;
    transition: 0.5s;
}

.header .gnb>ul:hover::before {
    height: 200px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    font-size: 20px;
    font-weight: 500;
}

.header .gnb>ul>li .smenu {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 50px;
    text-align: center;
    width: 150px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.header .gnb>ul:hover>li .smenu {
    height: 200px;
}

.header .right {
    font-size: 30px;
}


/* ----------main---------- */

/* ----------mainVisual---------- */
.mainSlide {
    margin: 0 0 100px 0;
}

.mainSlide img {
    width: 100%;
}

.mainSlide figure {
    position: relative;
}

.mainSlide .textbox {
    position: absolute;
    top: 50%;
    left: 15%;
    /* color: #000; */
    transform: translate(0, -50%);
}

.mainSlide .textbox h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.mainSlide .textbox span {
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.mainSlide .textbox p {
    font-size: 20px;
    font-weight: 500;
}

.mainSlide .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainSlide .slick-dots li {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 3px;
    background: none;
    opacity: 1;
}

.mainSlide .slick-dots>li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    background: #444;
    border-radius: 50%;
}

.mainSlide .slick-dots>li.slick-active {
    border: 2px solid #444;
    border-radius: 50%;
}

.mainSlide .slick-dots>li button {
    display: none;
}


/* ----------mainProduct---------- */
.mainProduct {
    position: relative;
    margin: 0 0 100px 0;
}

.mainProduct .main_text {
    text-align: center;
}

.mainProduct .main_text span {
    display: block;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.mainProduct .main_text h2 {
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 40px 0;
}

.mainProduct .main_text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin: 0 0 50px 0;
}

.mainProduct .inner {
    width: 1200px;
    margin: 0 auto;
}

.inner {
    text-align: center;
}

.pro_gnb {
    font-family: 'Libre Baskerville', serif;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 0 0 30px 0;

    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    color: rgb(0, 58, 0);
}

.pro_gnb>li {
    background: none;
}

.pro_gnb>li.on {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 128, 0, 0.5) 50%);
    transition: 0.5s;
}

.tab {
    overflow: hidden;
    text-align: center;
}

.tab .pro_sd.on {
    visibility: visible;
    height: auto;
}

.tab .pro_sd {
    margin: 0 0 0 -30px;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.pro_sd figure {
    margin: 0 0 0 30px;
}

.pro_sd figure .img_box {
    margin: 0 0 20px 0;
}

.pro_sd figure .img_box img {
    width: 100%;
}

.pro_sd figure p {
    font-size: 20px;
    line-height: 30px;
    word-break: keep-all;
    margin: 0 0 20px 0;
}

.pro_sd figure span {
    display: block;
    font-size: 15px;
    color: #999999;
    text-decoration: line-through;
}

.pro_sd figure strong {
    display: block;
    font-size: 18px;
    line-height: 30px;
    color: #000;
}

.mainProduct .arrows a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37px;
    height: 75px;

    font-size: 0;
}

.mainProduct .arrows .prev {
    background: url(../images/prev.png);
    margin: 0 0 0 -700px;
}

.mainProduct .arrows .next {
    background: url(../images/next.png);
    margin: 0 0 0 700px;
}


/* ----------footer---------- */

.footer {
    height: 50vh;
    background: #444;
}

/* * {
    outline: 1px solid tomato;
} */