/* ----------topBanner---------- */
.topBanner {
    background: #000;
    padding: 15px 0;
    transition: 0.5s;
}

.topBanner.on {
    height: 0;
    padding: 0 0;
    overflow: hidden;
}

.topBanner .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.topBanner .inner p {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.topBanner .inner i {
    color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
}

/* ----------header---------- */
.header {
    font-family: 'Libre Baskerville', serif;
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    line-height: 70px;
    color: #000;
    z-index: 999;
}

.header:hover {
    background: rgba(255, 255, 255, 0.9);
    /* transition: 0.5s; */
}

.header.on {
    background: rgba(255, 255, 255, 0.9);
    top: 0;
}

.header .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .gnb>ul {
    display: flex;
    gap: 60px;
}

.header .gnb>ul::before {
    content: "";
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    height: 0;
    transition: 0.5s;
}

.header .gnb>ul:hover::before {
    height: 200px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    font-size: 20px;
    font-weight: 500;
}

.header .gnb>ul>li .smenu {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 50px;
    text-align: center;
    width: 150px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.header .gnb>ul:hover>li .smenu {
    height: 200px;
}

.header .right {
    font-size: 30px;
}


/* ----------main---------- */

/* ----------mainVisual---------- */
.mainSlide {
    margin: 0 0 100px 0;
}

.mainSlide figure {
    position: relative;
}

.mainSlide .textbox {
    position: absolute;
    top: 50%;
    left: 15%;
    /* color: #000; */
    transform: translate(0, -50%);
}

.mainSlide .textbox h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.mainSlide .textbox span {
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.mainSlide .textbox p {
    font-size: 20px;
    font-weight: 500;
}


/* ----------mainProduct---------- */
.mainProduct .main_text {
    text-align: center;
}

.mainProduct .main_text span {
    display: block;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.mainProduct .main_text h2 {
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 40px 0;
}

.mainProduct .main_text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin: 0 0 50px 0;
}

.mainProduct .inner {
    width: 1200px;
    margin: 0 auto;
}



.product_slide span {
    font-size: 12px;
    color: #999999;
    text-decoration: line-through;
}


/* * {
    outline: 1px solid tomato;
} */